.banner {
  padding-top: 146px;
  padding-bottom: 173px;

  &-title {
    margin-bottom: 21.7px;
    font-size: 42.66pt;
    line-height: 59.65pt;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
  }

  &-desc {
    font-weight: 600;
  }

  &-img {
    width: 561px;
    position: relative;
    z-index: 1;
    &-wrap {
      position: relative;
    }
  }

  &-bg {
    position: absolute;
    bottom: -23px;
    left: 71px;
    z-index: 0;
    width: 597px;
  }
}
