@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: MYRIADPRO;
  src: url(../fonts/MYRIADPRO-BOLD.woff);
  font-weight: 700;
}
@font-face {
  font-family: MYRIADPRO;
  src: url(../fonts/MYRIADPRO-BOLDCOND.woff);
  font-weight: 700;
  font-stretch: condensed;
}
@font-face {
  font-family: MYRIADPRO;
  src: url(../fonts/MYRIADPRO-BOLDCONDIT.woff);
  font-weight: 700;
  font-stretch: condensed;
  font-style: italic;
}
@font-face {
  font-family: MYRIADPRO;
  src: url(../fonts/MYRIADPRO-BOLDIT.woff);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: MYRIADPRO;
  src: url(../fonts/MYRIADPRO-COND.woff);
  font-weight: 400;
  font-stretch: condensed;
}
@font-face {
  font-family: MYRIADPRO;
  src: url(../fonts/MYRIADPRO-CONDIT.woff);
  font-weight: 400;
  font-style: italic;
  font-stretch: condensed;
}
@font-face {
  font-family: MYRIADPRO;
  src: url(../fonts/MyriadPro-Light.woff);
  font-weight: 300;
}
@font-face {
  font-family: MYRIADPRO;
  src: url(../fonts/MYRIADPRO-REGULAR.woff);
  font-weight: 400;
}
@font-face {
  font-family: MYRIADPRO;
  src: url(../fonts/MYRIADPRO-SEMIBOLD.woff);
  font-weight: 600;
}
@font-face {
  font-family: MYRIADPRO;
  src: url(../fonts/MYRIADPRO-SEMIBOLDIT.woff);
  font-weight: 600;
  font-style: italic;
}
