@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: $dark;
  font-size: 18pt;
  width: 100vw;
  overflow-x: hidden;
  line-height: 32pt;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.padding-x {
  padding-left: 390px;
  padding-right: 390px;
}

.btn {
  &-login {
    padding: 8.9px 31px 14px;
    background: $white;
    border-radius: 55px;
    border: 1px solid $white;
    color: $gray;
    font-size: 18pt;
    transition: all 0.3s ease;
    white-space: nowrap;

    &:hover {
      background: none;
      color: $white;
    }
  }
}

.section {
  &-title {
    font-size: 40pt;
    line-height: 55.93pt;
    font-weight: 600;
    color: $gray-500;
    margin-bottom: 33px;

    span {
      color: $primary;
    }

    &-sm {
      padding-bottom: 35.2px;
      line-height: 28pt;
      font-weight: 600;
      color: $gray-400;
    }
  }

  &-desc {
    line-height: 28pt;
    color: $gray-300;
    margin-bottom: 71px;
  }
}

.nav-pills .nav-link {
  border-radius: 0rem;
}
