.link-shadow {
  box-shadow: -7.55px 9.33px 18px rgba(136, 136, 136, 24%);
  padding-top: 17px;
  padding-bottom: 17px;
}

.tab {
  &-title {
    color: $gray-400;
  }
  &-title-sm {
    color: $gray-400;
  }
}

.nav-link {
  &.active {
    .tab-title {
      color: $white;
    }
  }
  &.active {
    .tab-title-sm {
      color: $white;
    }
  }
}

.nav-item {
  margin-bottom: 89px;
}

.card {
  &-wrap {
    padding: 40px 55px;
    box-shadow: -7.55px 9.33px 44px rgba(136, 136, 136, 11%);
  }

  &-title {
    color: $gray;
    font-size: 24pt;
    line-height: 15pt;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &-pricing {
    font-size: 75.33pt;
    color: $primary;
    font-weight: 700;
  }

  &-mon {
    font-size: 20pt;
    line-height: 15pt;
    color: $primary;
    margin-bottom: 19px;
  }

  &-content {
    ul {
      li {
        font-size: 14pt;
        line-height: 28pt;

        span {
          color: $primary;
        }
      }
    }
  }
}
