.work {
    padding-bottom: 117px;
    position: relative;
}

.section-bg {
    position: absolute;
    right: -58%;
    bottom: -61%;
}

.icon {
    &-wrap {
        margin-bottom: 32px;
        height: 68px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        img {
            height: 58px;
        }
    }

    &-title {
        line-height: 25pt;
        margin-bottom: 30px;
        color: $black;
        font-weight: 700;
    }

    &-desc {
        font-size: 16pt;
        line-height: 25pt;
        color: $gray-200;
        font-weight: 300;
    }
}